@inherits LayoutComponentBase

<PageTitle>TaskManager1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <!--<TaskManager1.Pages.NavMenu2 /> -->
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
